{% extends 'layout.html' %}
{% block content %}
{% raw %}
<section ng-controller="NewUserController">
    <div class="container">
        <h1>New User</h1>
        <div class="row">
            <div class="col-md-1">
                <label for="name">Nome</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" id="name" ng-model="name" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="surname">Cognome</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" id="surname" ng-model="surname" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="email">Email</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" id="email" ng-model="email" required>
            </div>
        </div>
        <button class="btn btn-default" ng-click="insert()">Inserisci</button>
    </div>
</section>
{% endraw %}
{% endblock %}